button {
   margin-top: 5px  !important;
}

h4 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 15px;

}

.spotify {
    background-color: green !important;

}

.flex-container {
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

#icons {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: flex-start;
}
.fab{
    position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
    right:20px;
    z-index: 1;
}
#topBar {
    position:fixed;
    background-color: white;
    z-index: 1;
}

.drop {

    margin-top: 50px;
}